.stepperOne{
    width: 75%;
	background: #ffffff;
	border: 1px solid #eaeaea;
	padding: 34px 60px;
	background: #f7f8fc;
	min-height: 100vh;
	@media (max-width: 640px) {
		width: 100%;
		padding: 20px;
	}
	.paragraph{
		font-size: 12px;
		text-align: center;
		margin-top: 5px;
		@media (max-width: 640px) {
			font-size: 8px;
		}
	}
}